* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

html, body {
  width: 100%;
  height: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 179, 179);
}
#page1 #nav{
    height: 100px;
    width: 100%;
    background-color: royalblue;
}
#content{
    height: calc(100% - 100px);
    width: 100%;
    background-color: crimson;
}