* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial-sens';
}

html, body {
  width: 100%;
  height: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    /* background-color: rgb(255, 179, 179); */
}
 #nav{
    height: 120px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
#nav-part1{
    width: 28%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part1 h4{
    font-size: 16px;
    font-weight: 500;
}
#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#nav-part2 button{
    padding: 12px 22px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 17px;
    margin: 0 10px;
}
#nav-part2 button:nth-child(1){
    background-color: transparent;
    color: #000;
}
#nav img{
    height: 110px;
}
#content{
    height: calc(100% - 120px);
    width: 100%;
    /* background-color: crimson; */
    padding-top: 90px;
}
#content h3{
    background-color: #F2B0EA;
    padding: 12px 16px;
    width: fit-content;
    border-radius: 50px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
}
#content h1{
    font-size: 80px;
  text-align: center;
  margin: 25px 0;
  line-height: 80px;
}
#content h4{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
#content button{
     padding: 20px 28px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin: 30px 0px;
    font-size: 18px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}