* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width : 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 90px; 
    padding-top: 150px;
}
#left {
    height: 100%;
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#right {
    height: 100%;
    width: 40%;
    /* background-color: blue; */
}
#left h1{
    font-size: 145px;
    font-weight: 500;
    line-height: 155px;
    font-family: work sans;
}
#bottom-left{
    height: 40%;
    width: 100%;
    /* background-color: yellow; */
}
#color{
    background-color: blue;
    width: 30px;
    padding: 10px 15px;
}
#color1{
    height: 30px;
    width: 30px;
    background-color: burlywood;
}
#color2{
    height: 30px;
    width: 30px;
    background-color: brown;
} 