* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
#nav-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.gola{
    height: 22px;
    width: 22px;
    background-color: black; 
    border-radius: 50%;

} 
#nav-part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
} 
#nav-part-2 h4{
    font-size: 16px;
    font-weight: 600;
}
#nav-part-2 h4 span{
    color: rgb(121, 121, 128);
    margin-left: 30px;
}
#nav2{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 50px;
}
#nav2 h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
#content{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text-content{
    height: 40%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    overflow-x: auto;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    font-size: 130px;
    font-weight: 300;
}
#image-content{
    height: 100%;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    overflow-x: auto;
}
#image-content::-webkit-scrollbar{
   display: none;
}
#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 90%;
    object-fit: cover;
}